# Data Science Tools and Ecosytem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**

* List examples of open-source tools used in data science
* Describe how to use Jupyter Notebook
* Identify commonly used languages in data science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C++
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

|Data Science Tools|
|------------------|
|RStudio   |
|Jupyter Notebook |
|GitHub  |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author
Teri Douglas